.modal__desc{
  font-size: 16px;
  color: rgba(0,0,0,0.6);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.modal__price{
  font-size: 28px;
  color: #1f98f4;
}

.modal__item__on,
.modal__item__off{
  padding: 2rem;
  color:white;
  font-size: 40px; 
}
.btn--outline{
  color: #fff !important;
  background: #fff !important;
  margin: 1rem;
  border-radius: 5px;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.modal__item__on{
  -webkit-text-stroke: 0.2px #28a745; 
}

.modal__item__off{
  -webkit-text-stroke: 0.2px gray; 
}