.slide {
    position: fixed;
    width: 100%;
}

.button {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    outline: none;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    font-size: 18px;
    color: #444;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.end {
    position: fixed;
    width: 100%;
    bottom: 8px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    bottom: 8px;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

* {
    box-sizing: border-box;
}

.page {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
}

img {
    width: 100%;
    height: 100%;
    right: 0;
    object-fit: cover;
 }

.profile {
    position: fixed;
    text-align: right;
    width: 100%;
    height: 88%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-10;
}

.page img {
    position: relative;
    float: right;
    justify-content: right;
    text-align: right;
    bottom: 20px;
    width: auto;
    right: 30px;
    object-fit: contain;
    opacity: 80%;
    z-index: -1;
}

.intro {
    display: none;
}

.switch {
    border: none;
    outline: none;
    color: white;
    width: 20px;
    font-weight: bold;
    background-color: transparent;
    float: right;
}

.switch:hover {
    background-color: #bbbbbb;
}

/*for tablets like iPad*/
@media only screen and (max-width: 1500px) {
    .header-nav-bar, .bottom {font-size: 18px}
    .header-nav-bar li {font-size: 22px}
    .content {left: 20px; font-size: 24px}
    .title {font-size: 30px}
    .prev, .next, .text, .link {font-size: 15px}
}

/*for smart phones like iPhone*/
@media only screen and (max-width: 1200px) {
    .header-nav-bar, .bottom {font-size: 15px}
    .header-nav-bar li {font-size: 18px}
    .content {left: 10px; font-size: 20px}
    .title {font-size: 25px}
    .prev, .next, .text, .link {font-size: 11px}
    .profile img {
        right: auto;
        justify-content: center;
    }
    .list {
        width: 300px;
    }
    tbody td {
        width: 100px;
        font-size: 12px;
    }
    tbody td img {
        width: 80px;
        height: 80px;
        padding: 12px;
        object-fit: contain;
        filter: alpha(opacity=50);
    }
}
