.header-nav-bar {
    font-family: "Agency FB", monospace;
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    box-sizing: border-box;
    list-style: none;
    z-index: 1;
    font-weight: bold;
    user-select: none;
}

.header-nav-bar li {
    float: left;
    padding: 5px;
    display: inline-block;
    color: #444;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.header-nav-bar a {
    float: right;
    padding: 8px 16px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}

a:hover {
    background-color: #ccc;
    color: white;
}

/*body{*/
/*    position:fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-size: cover;*/
/*    overflow: hidden;*/
/*    -webkit-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background: url('../images/background.jpg') no-repeat center 0;*/
/*}*/

#Layer1 {
    position: fixed;
    width:100%;
    height:100%;
    z-index: -1;
    user-select: none;
}

#Layer1 img {
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*if not set margin as 0, there would be white frame at top and left*/
body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    user-select: none;
}

.title {
    color: #f2f2f2;
    padding: 8px 30px;
    position: fixed;
    top: 55px;
    font-family: "Agency FB", monospace;
    font-size: 50px;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
}

.members {
    padding: 8px 30px;
    position: fixed;
    font-family: "Agency FB", monospace;
    top: 100px;
    width: 100%;
    text-align: left;
    line-height: 40px;
    user-select: none;
}

.content {
    position: fixed;
    top: 50px;
    left: 100px;
    justify-content: center;
    font-family: "Agency FB", monospace;
    font-size: 30px;
    color: #444;
    padding: 50px;
    user-select: none;
}

.coverPic {
    position: relative;
    left: 0;
    margin-top: 20px;
    height: 300px;
    width: auto;
    object-fit: contain;
    opacity: 80%;
    z-index: -1;
}

.bottom {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: fixed;
    font-family: "Agency FB", monospace;
    bottom: 20px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    user-select: none;
}

.member {
    color: rgba(38, 134, 184, 1);
    font-size: 30px;
    margin-bottom: 10px;
}

.duty {
    padding-left: 15px;
    color: rgba(9, 84, 133, 1);
    font-size: 25px;
}

.link {
    font-family: "Agency FB", monospace;
    font-size: 20px;
    outline: 2px solid darkred;
    color: #f2f2f2;
    padding: 6px 10px 6px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;

}

.link:hover {
    text-decoration: none;
}

.list {
    position: fixed;
    width: 450px;
    top: 120px;
    left: 20px;
    text-decoration: none;
}

.about {
    color: rgba(0, 51, 89, 1);
    font-size: 30px;
}

table {
    font-family: "Agency FB", monospace;
    border: 2px solid gray;
    text-align: center;
    border-collapse: collapse;
    text-decoration: none;
}

thead {
    color: #f2f2f2;
}

tbody td {
    width: 150px;
    border: 2px solid gray;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    user-select: text;
    text-decoration: none;
}

tbody td img {
    width:100px;
    height: 100px;
    padding: 12px;
    object-fit: contain;
    filter: alpha(opacity=50);
}

td:hover {
    opacity: 0.8;
    text-decoration: none;
}


#table1 td {
    border: 2px solid rgba(7, 60, 99, 1);
}

#table2 td {
    border: 2px solid rgba(9, 84, 133, 1);
}

#table3 td {
    border: 2px solid rgba(38, 134, 184, 1);
}
